       
           * {
            margin: 0px;
            padding: 0px;
        }

        body {
            
            background-image: linear-gradient(to right, rgb(192, 141, 192) , rgb(209, 171, 209) );
           
        }

       
       header {
            text-align: center;
            background-image: linear-gradient(to right, rgb(73, 10, 73), purple);
            padding-top: 10px;
            
        }


        header > p {
            color: white;
            font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
            font-size: 20px;
            padding: 10px;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.555);
        }
       
        nav {
            padding: 20px;
        }


        nav > a {
            padding: 15px 15px 15px 15px;
            text-decoration: none;
            font-weight: bold;
        }


        nav >a:hover {
            background-color: rgb(238, 17, 227);
            color: black;
            border-radius: 7px;
            transition-duration: 0.5s;
        }

        a {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            color: white
        }
        

        main {
            background-color: rgb(153, 26, 153);
            min-width: 300px;
            max-width: 1000px;
            padding: 20px;
            margin: auto;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            box-shadow: 2px 2px 0px rgb(63, 60, 60);
            margin-bottom: 30px;
            
        }


        

        main > h2 {
            color: white;
            padding: 5px;
        }
        

        article {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            padding: 15px;
            color: rgb(255, 255, 255);
            border-radius: 10px 10px;
            text-align: justify;
        }

        article > p {
            text-indent: 35px;
        }

        article img {
            width: 58%;
            padding: 10px;
            
        }

        article > h2 {
            padding: 10px;
        }

        article p> a:hover {
            background-color: rgb(238, 17, 227);
            color: black;
            border-radius: 4px;
            padding: 1px;
            transition-duration: 0.5s;
        }


        div {
            text-align: center;
        }
   
      
        footer {
            text-align: center;
            color: black;
            padding: 5px;
            background-color: purple;
        }
      


        